.about-me-citation {
  background-image: url("../img/about-me-cit.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 599px;
  background-color: #f6f6f6;
}

.about-me-citation__text {
  flex: 0 0 50%;
  max-width: auto;
  float: none;
  padding-top: 140px;
  padding-bottom: 186px;
  background-color: rgba(246,246,246,.7);

    h2 {
      color: #171717;
      font-size: 30px;
    }

    p {
      margin-bottom: 24px;
    }

    img {
      margin-top: 10px;
    }
}

@media (min-width: 990px) {
  .about-me-citation__text {
    float: right;
    max-width: 50%;
    background-color: none;
    padding-left: 100px;
    padding-bottom: 145px;
  }
}

@media (max-width: 815px) {
  .about-me-citation__text {
    padding-bottom: 145px;
  }
}

@media (max-width: 424px) {
  .about-me-citation__text {
    padding-bottom: 100px;
  }
}

@media (max-width: 324px) {
  .about-me-citation__text {
    padding-bottom: 80px;
  }
}
