footer {
  background-color: #141414;
  color: #bcbcbc;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 80px;
}

.footer__copyright,
.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.footer__copyright-inc {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.65;
  color: #fff;
  margin-bottom: 20px;
}

.footer__copyright-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #bcbcbc;
}

.footer__copyright-img {
  padding-left: 20px;
}

.footer__contacts a {
  text-decoration: none;
  color: inherit;
  line-height: 1.65;

  &:hover {
    text-decoration: underline;
  }
}

.footer__menu {
  display: flex;

  li a {
    text-decoration: none;
    color: #bcbcbc;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__menu-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-left: 50px;
  line-height: 1.65;

  &:first-of-type {
    margin-left: 0;
  }
}
