.main-create {
  padding-top: 100px;
  padding-bottom: 90px;
  width: 540px;
  max-width: 100%;

  p {
    font-size: 17px;
    line-height: 1.8;
  }
}

.main-create__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 1.1;
  color: #252525;
  width: 340px;

  span {
    color: #10c9c3;
  }
}

.main-create__filter-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-left: 0;

  li {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}

.main-create__filter-items {
  display: flex;
  flex-wrap: wrap;
}

.main-create__wrapper {
  width: 25%;
  height: 475px;
}

.main-create__filter-active {
  color: #000;
}

.main-create__filter-items-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;

  &_1 {
    background-image: url("../img/graficsfuel.jpg");
  }

  &_2 {
    background-image: url("../img/tel.jpg");
  }

  &_3 {
    background-image: url("../img/book.jpg");
  }

  &_4 {
    background-image: url("../img/glass.jpg");
  }

  &_5 {
    background-image: url("../img/shopping.jpg");
  }

  &_6 {
    background-image: url("../img/bag.jpg");
  }

  &_7 {
    background-image: url("../img/honey.jpg");
  }

  &_8 {
    background-image: url("../img/shampoo.jpg");
  }
}

.main-create__filter-items a:hover .main-create__filter-items-fill {
  position: relative;
  background-color: #10c9c3;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  z-index: 99;
  transition: .6s opacity,.6s background-color;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/look.svg");
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    top: 45%;
    left: 45%;
  }
}
